run = "npm start || yarn start || node lib/client.js"
# stop =  "npm stop || yarn stop"
entrypoint = "README.md"
hidden = [".config"]

[unitTest]
language = "nodejs"

onBoot = "npm i || yarn"

[nix]
channel = "stable-23_05"

[deployment]
run = ["yarn","start"]
deploymentTarget = "cloudrun"
ignorePorts = false
